In [2]:
import string
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if string.find(big_string, substring) != -1:
            return substring
    print(big_string)
    return np.nan

In [3]:
title_list = ['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev', 'Dr', 'Ms', 'Mlle', 'Col', 'Capt', 'Mme', 'Countess', 'Don', 'Jonkheer']

In [6]:
df['Title'] = df['Name'].map(lambda x: substrings_in_string(x, title_list))

# replacing all titles with mr, mrs, miss, master

def replace_title(x):
    title = x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title == 'Dr':
        if x['Sex'] == 'Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title
df['Title'] = df.apply(replace_titles, axis=1)

NameError: name 'df' is not defined

In [7]:
# Turning cabin number into Deck
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
df['Deck'] = df['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))

NameError: name 'df' is not defined

In [8]:
# Creating new family_size column
df['Family_Size'] = df['SibSp'] + df['Parch']

NameError: name 'df' is not defined

In [9]:
df['Age*Class'] = df['Age'] * df['PcClass']

NameError: name 'df' is not defined

In [10]:
df['Fare_Per_Person'] = df['Fare']/(df['Family_Size'] + 1)

NameError: name 'df' is not defined